html{
    box-sizing:border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin:0;
}

img{
    max-width:100%;
    height:auto;
    vertical-align: top;

}

h1{
    margin:0;
}

a {
    text-decoration: none;
    color:inherit;
}

.wrapper{
    width:100%;
    position:relative;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container{
    max-width:1430px;
    padding:0 15px;
    margin:0 auto;
}
   

.header{
    background-color:#D3B714;
    padding:15px 0;

}

.header-wrap{
    display:flex;
    align-items:center; 
}


ul{
    list-style: none;
    padding:0;
    margin:0;
}



.nav{
    margin-left:15px;
    flex-grow:1;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.nav-list{
    display:flex;
    align-items:center;

}

.nav-item{
    font-size:18px;
    transition:all 0.3s;
}

.nav-item:hover{
    color:blue;
}

.nav-item + .nav-item{
    padding-left:15px;
}


main{
    background-color:white;
    flex-grow:1;
    display:flex;
}


.content{
    padding:15px;
    flex-grow:1;
    text-align: center;
}
 
.content > p{
    font-size:18px;
    font-weight:500;
    padding:0 15px;
}

.title{
    padding-bottom :20px;
    text-transform:uppercase;
    font-size:30px;
}

.sidebar{
    max-width: 300px;
    width:100%;
    padding:15px;
    text-align:center;
}

.sidebar-left{
    order:-1;
    background-color:#c798b9 ;
}

.sidebar-right{
    background:#9cb1c7;
}

.row{
    display:flex;
    flex-wrap:wrap;
    margin:0 -15px;
}

.col{
    width:33.333%;
    padding:0 15px 30px;
}

.card{
    border:2px solid grey;
    border-radius:30px;
    padding:15px 20px;
    text-align:center;
    height:100%;
    display:flex;
    flex-direction: column;
}

.card:hover{
    -webkit-box-shadow: 0px 0px 18px 8px rgba(28, 131, 210, 0.39);
    -moz-box-shadow: 0px 0px 18px 8px rgba(28, 131, 210, 0.39);
    box-shadow: 0px 0px 18px 8px rgba(28, 131, 210, 0.39);  
}

.card-img{
    width:110px;
    height:110px;
    border-radius:50%;
    padding:10px;
    background:#9e8d8d;
    margin:0 auto;
    
}
.img{
    height: 100%;
    width:100%;
    border-radius:inherit;
}

.card-body{
    flex-grow:1;
}

.title-link{
    transition:all 0.3s;
}

.title-link:hover{
    color:indianred;
}

.card-footer{
    display: flex;
    justify-content: center;
}

.btn{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(92, 45, 92);
    transition: all 0.3s;
}

.btn:hover{
    background-color: tomato;
    color:black
}

footer{
    background-color: #86ec86;
    padding:15px;
    text-align: center;
    font-size:18px;
}